@model Cobit_Matrix.Models.MetaEmpresarial

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GoalAlignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Codigo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            Descripcion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEmpresarial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>