.highlight {
    background-color: #71a4c6;
}
.columnaHight{
    background-color: #71a4c6;
}

.filaHight{
    background-color: #4fc3a2;
}

table.dataTable tbody tr.selected {
    background-color: transparent !important;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}
.reportePrimario {
    background-color: #007bff !important;
}
.reporteTitle {
    background-color: #dc3545 !important;
}
.text-white {
    color: #ffffff !important;
}