.highlight {
    background-color: #71a4c6;
}
.columnaHight{
    background-color: #71a4c6;
}

.filaHight{
    background-color: #4fc3a2;
}

table.dataTable tbody tr.selected {
    background-color: transparent !important;
}